extends layout

block content
  h2.page-header Login
  p Please login using the form below
  form(method= 'post', action= '/users/login')
  .form-group
  label Username
  input.form-control(name= 'username', type= 'text', placeholder= 'Enter username')
  form(method= 'post', action= '/users/register', enctype= 'multipart form-data' )
  .form-group
  label Password
  input.form-control(name= 'password', type= 'password', placeholder= 'Enter password')
  form(method= 'post', action= '/users/register', enctype= 'multipart form-data' )
  .form-group
  label Confirm Password
  input.form-control(name= 'password2', type= 'password', placeholder= 'Confirm password')
  form(method= 'post', action= '/users/register', enctype= 'multipart form-data' )
  input.btn.btn-primary(type= 'submit', name= 'Submit', value= 'Register')
