extends layout

block content
  h2.page-header Register
  p Please register using the form below
  form(method= 'post', action= '/users/register', enctype= 'multipart form-data' )
  .form-group
  label Name
  input.form-control(name= 'name', type= 'text', placeholder= 'Enter Name')
  form(method= 'post', action= '/users/register', enctype= 'multipart form-data' )
  .form-group
  label Email
  input.form-control(name= 'email', type= 'email', placeholder= 'Enter Email')
  form(method= 'post', action= '/users/register', enctype= 'multipart form-data' )
  .form-group
  label Username
  input.form-control(name= 'username', type= 'text', placeholder= 'Enter username')
  form(method= 'post', action= '/users/register', enctype= 'multipart form-data' )
  .form-group
  label Password
  input.form-control(name= 'password', type= 'password', placeholder= 'Enter password')
  form(method= 'post', action= '/users/register', enctype= 'multipart form-data' )
  .form-group
  label Confirm Password
  input.form-control(name= 'password2', type= 'password', placeholder= 'Confirm password')
  form(method= 'post', action= '/users/register', enctype= 'multipart form-data' )
  .form-group
  label Profile-image
  input.form-control(name= 'profileimage', type= 'file')
  input.btn.btn-primary(type= 'submit', name= 'Submit', value= 'Register')
  
  
